
.navbar-nav > li > a {
    font-size: 20px;
}

.navbar-nav{
    padding:1%;
}
.saludo {
    color:white;
    margin-top:1%;
    width: 99%;
	text-align: right;
}

.saludo a, .saludo a:visited, nav#menu a,nav#anterior a {
	color: blueviolet;
	font-weight: bold;
}

.saludo a:hover, div#derecha a:hover, nav#menu a:hover, nav#anterior a:hover {
	color: rgb(9, 42, 105);
	font-weight: bold;
	text-decoration: underline;
}

