.grid-item:hover .puntuacionPositiva{
  color: orange;
  margin:0;
  padding: 0;
  font-size: 30px;
}
.grid-item:hover .puntuacionNegativa{
  color: gray;
  margin:0;
  padding: 0;
  font-size: 30px;
}
.puntuaciones{
  display:flex;
  position: absolute;
  bottom: 0;
  
}
.puntuacionPositiva{
  color: transparent;
}
.puntuacionNegativa{
  color: transparent;
}


.grid-container {
display: grid;
grid-template-columns: 360px 360px 360px 360px ;
grid-template-rows: max-content;
background-color: gray;
position:absolute;
height: 100%;
width: 360 *4 px;
margin-top: 40px;
margin-bottom: 80px;
}

.grid-item {
background-color: gray;
border: 5px solid black;

}

.tituloIndividual{
  font-size: 70px;
}
.textoIndividual{
  font-size: 20px;
}
.votoIndividual{
  font-size: 50px;
}
.peliculasImgIndividual{
  height: 540px;
  width: 420px;
  margin: 100px;
  border: 5px solid black;
  float: left;
}
.peliculasTextoIndividual{
  margin-top: 50px;
  margin-right: 100px;
}

.puntuacionGeneralPositiva{
  color: orange;
}
.puntuacionGeneralNegativa{
  color: gray;
}
.puntuacionesGeneralIndividual{
  display:flex;
}

.peliculasImg{
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
}

.peliculasTexto{
    position:absolute;
    color: transparent;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.todoPelicula{
    position:relative;
    height: 450px;
    width: 350px;
}

.todoPelicula p{
    text-align: left;
    font-size: 15px;
    margin: 10px;
}

.grid-item:hover{
    transform:scale(1.15);
    z-index: 999;
}

.grid-item:hover .peliculasTexto{

    color: white;
}
.grid-item:hover .peliculasImg{

    filter: brightness(30%);
}

.grid-item:hover label {

    color: gray;
}

.grid-item:hover label:hover {

    color: orange;
}

.grid-item:hover label:hover ~ label {
    color: orange;
  }

.tabla{
    display: flex;
    justify-content: center;
}

.tusEstrellas{
  display: flex;
  float: right;
}
.votoTexto{
  float:right;
}
.votoTexto2{
  float:right;
}
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
  float:left;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

#categoria{
    padding-top: 20px;
    text-align:center;
}

.buton_estrellas{
  background-color: rgb(212, 175, 55);
}
