.grid-item:hover .puntuacionPositiva{
  color: orange;
}
.grid-item:hover .puntuacionNegativa{
  color: gray;
}
.puntuaciones{
  display:flex;
}
.puntuacionPositiva{
  color: transparent;
}
.puntuacionNegativa{
  color: transparent;
}
.grid-container {
display: grid;
grid-template-columns: 360px 360px 360px 360px ;
grid-template-rows: max-content;
background-color: gray;
position:absolute;
height: 100%;
width: 360 *4 px;
margin-top: 40px;
margin-bottom: 80px;
}

.grid-item {
background-color: gray;
border: 5px solid black;

}

.peliculasImg{
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
}

.peliculasTexto{
    position:absolute;
    color: transparent;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.todoPelicula{
    position:relative;
    height: 450px;
    width: 350px;
}

.todoPelicula p{
    text-align: left;
    font-size: 15px;
    margin: 10px;
}

.grid-item:hover{
    transform:scale(1.15);
    z-index: 999;
}

.grid-item:hover .peliculasTexto{

    color: white;
}
.grid-item:hover .peliculasImg{

    filter: brightness(30%);
}

/*.grid-item:hover label {

    color: gray;
}

.grid-item:hover label:hover {

    color: orange;
}

.grid-item:hover label:hover ~ label {
    color: orange;
  }

.tabla{
    display: flex;
    justify-content: center;
}

#form {
    width: 100%;
    margin: 0 auto;
    height: 100px;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  
  #form p {
    text-align: center;
    bottom: 0px;
    left: 0px;
  }
  
  #form label {
    font-size: 50px;
    bottom: 0px;
    left: 0px;
  }
  
  input[type="radio"] {
    display: none;
    bottom: 0px;
    left: 0px;
  }
  
  label {
    color: transparent;
    bottom: 0px;
    left: 0px;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    bottom: 0px;
    left: 0px;
  }
  
  
  .grid-item:hover input[type="radio"]:checked ~ label {
    color: orange;
    bottom: 0px;
    left: 0px;
  }*/

#categoria{
    padding-top: 20px;
    text-align:center;
}
